# Exemplos com Arrays (Listas) de Strings em Python

In [ ]:

nomes = ["Ana", "Bruno", "Carlos", "Diana", "Eduardo"]
print("Lista original:", nomes)

In [ ]:

# Acessos e fatiamento
print("Primeiro nome:", nomes[0])
print("Últimos dois nomes:", nomes[-2:])

In [ ]:

# Adicionar elementos
nomes.append("Fernanda")
print("Após append:", nomes)

In [ ]:

# Inserir em posição específica
nomes.insert(2, "Gabriel")
print("Após insert:", nomes)

In [ ]:

# Remover por valor
nomes.remove("Carlos")
print("Após remover 'Carlos':", nomes)

In [ ]:

# Remover último elemento
ultimo = nomes.pop()
print("Após pop():", nomes)
print("Elemento removido:", ultimo)

In [ ]:

# Ordenação
nomes.sort()
print("Ordenado:", nomes)

# Ordenação reversa
nomes.sort(reverse=True)
print("Ordem reversa:", nomes)

In [ ]:

# Tamanho da lista
print("Quantidade de nomes:", len(nomes))

In [ ]:

# Verificar existência
print("'Ana' está na lista?", "Ana" in nomes)

In [ ]:

# Iterar e transformar
maiusculos = [nome.upper() for nome in nomes]
print("Todos maiúsculos:", maiusculos)

In [ ]:

# Filtrar nomes com mais de 5 letras
longos = [nome for nome in nomes if len(nome) > 5]
print("Nomes com mais de 5 letras:", longos)