# Exemplos de Interpolação com `input()` e `print()`

In [ ]:

# Entrada de dados
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
altura = float(input("Digite sua altura em metros: "))

## 1. Concatenando com `+`

In [ ]:

print("Olá, meu nome é " + nome + " e tenho " + str(idade) + " anos.")

## 2. Usando vírgula no print

In [ ]:

print("Olá,", nome, "e tenho", idade, "anos.")

## 3. Usando `.format()`

In [ ]:

print("Olá, meu nome é {} e tenho {} anos.".format(nome, idade))

## 4. `.format()` com índices

In [ ]:

print("Altura: {1} m - Nome: {0}".format(nome, altura))

## 5. Usando f-strings (moderno e recomendado)

In [ ]:

print(f"Olá, meu nome é {nome}, tenho {idade} anos e {altura}m de altura.")

## 6. Estilo antigo com `%`

In [ ]:

print("Nome: %s | Idade: %d | Altura: %.2f" % (nome, idade, altura))

## Extra: Formatação de decimais e alinhamento

In [ ]:

print(f"Altura formatada: {altura:.2f} m")         # duas casas decimais
print(f"Nome alinhado à direita: {nome:>10}")     # 10 caracteres, à direita
print(f"Nome alinhado à esquerda: {nome:<10}")    # 10 caracteres, à esquerda