# 游 Estrutura de Dados em Python - Se칞칚o 15
Exemplos pr치ticos de listas, dicion치rios, sets, tuplas, lambda, map, filter e comprehensions.

## 084 Intro Listas

In [ ]:
lista = [1, 2, 3, 4]
print(lista)

## 085 Manipulando Listas

In [ ]:
lista = [1, 2, 3]
lista.append(4)
lista.remove(2)
print(lista)

## 086 Funcoes Em Listas

In [ ]:
lista = [10, 20, 30]
print("Soma:", sum(lista))
print("M치ximo:", max(lista))

## 087 Concatenando Listas

In [ ]:
a = [1, 2]
b = [3, 4]
print(a + b)

## 088 Extraindo Variaveis

In [ ]:
dados = ["Maria", 25]
nome, idade = dados
print(nome, idade)

## 089 Loop Lista

In [ ]:
nomes = ["Ana", "Leo", "Bi"]
for nome in nomes:
    print(nome)

## 090 Verificando Itens

In [ ]:
lista = [1, 2, 3]
print(2 in lista)
print(5 not in lista)

## 091 Zip Listas

In [ ]:
nomes = ["Ana", "Bob"]
idades = [22, 30]
for nome, idade in zip(nomes, idades):
    print(nome, idade)

## 092 Input Em Lista

In [ ]:
valores = input("Digite n칰meros separados por espa칞o: ").split()
print(valores)

## 093 Tuplas

In [ ]:
tupla = ("a", "b", "c")
print(tupla[1])
# tupla[0] = "x"  # inv치lido

## 094 Arrays

In [ ]:
from array import array
a = array('i', [1, 2, 3])
print(a[0])

## 095 Sets

In [ ]:
s = {1, 2, 3, 3}
print(s)

## 096 Funcoes Sets

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print("Intersec칞칚o:", a & b)

## 097 Sets Strings

In [ ]:
texto = "banana"
unicos = set(texto)
print(unicos)

## 098 Intro Dict

In [ ]:
pessoa = {"nome": "Jo칚o", "idade": 30}
print(pessoa["nome"])

## 099 Atualizando Dict

In [ ]:
pessoa = {"nome": "Jo칚o"}
pessoa["idade"] = 31
print(pessoa)

## 100 Loop Dict

In [ ]:
dados = {"a": 1, "b": 2}
for chave in dados:
    print(chave, dados[chave])

## 101 Itens Keys Values

In [ ]:
dados = {"x": 10, "y": 20}
print(list(dados.items()))
print(list(dados.keys()))
print(list(dados.values()))

## 102 Lambda

In [ ]:
soma = lambda a, b: a + b
print(soma(2, 3))

## 103 Lambda Em Funcao

In [ ]:
def executar(f):
    print(f(5))

executar(lambda x: x * 2)

## 104 Map Lista

In [ ]:
nums = [1, 2, 3]
print(list(map(str, nums)))

## 105 Map Lambda

In [ ]:
print(list(map(lambda x: x**2, [1, 2, 3])))

## 106 Filter

In [ ]:
pares = filter(lambda x: x % 2 == 0, [1, 2, 3, 4])
print(list(pares))

## 107 List Comp Strings

In [ ]:
nomes = ["ana", "bob"]
maiusculas = [n.upper() for n in nomes]
print(maiusculas)

## 108 List Comp Numeros

In [ ]:
quadrados = [x**2 for x in range(5)]
print(quadrados)

## 109 Generator Expr

In [ ]:
gen = (x * 2 for x in range(3))
for val in gen:
    print(val)