# 🔍 Exemplos de Operadores de Comparação em Python

## Igualdade (==)

In [ ]:

a = 10
b = 10
print("a == b:", a == b)  # True

## Diferença (!=)

In [ ]:

a = 10
b = 20
print("a != b:", a != b)  # True

## Maior que (>)

In [ ]:

a = 15
b = 10
print("a > b:", a > b)  # True

## Menor que (<)

In [ ]:

a = 5
b = 8
print("a < b:", a < b)  # True

## Maior ou igual (>=)

In [ ]:

a = 7
b = 7
print("a >= b:", a >= b)  # True

## Menor ou igual (<=)

In [ ]:

a = 3
b = 10
print("a <= b:", a <= b)  # True

## Comparando strings

In [ ]:

nome1 = "ana"
nome2 = "ana"
print("nome1 == nome2:", nome1 == nome2)  # True

nome3 = "Ana"
print("nome1 == nome3:", nome1 == nome3)  # False (case sensitive)

## Comparando listas

In [ ]:

lista1 = [1, 2, 3]
lista2 = [1, 2, 3]
lista3 = [3, 2, 1]

print("lista1 == lista2:", lista1 == lista2)  # True
print("lista1 == lista3:", lista1 == lista3)  # False